.no-margin{
    margin: 0 !important;
}
body{
    background-color: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif !important;
}
.form-bounds{
    margin-left: 5vw;
    margin-right: 5vw;
}
form{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
    padding: 5%;
}
@media screen and (max-width: 768px){
    .form-bounds{
        margin-left: 3vw !important;
        margin-right: 3vw !important;
    }
}
.inline{
    display: inline !important;
}
#gram-img{
    width: 50%;
}